body {
  margin: 0;
  font-family: 'Playfair Display', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(61, 61, 61);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  height: auto;
}

ul,
li {
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}